name: License Compliance

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  pull-requests: read
  contents: write

jobs:
  check_licences:
    uses: eclipse-ecsp/.github/.github/workflows/workflow-licences-analysis.yml@main
    name: Analyse Licences
    with:
      java_version: '21'
      java_distribution: 'temurin'
      create-review: true
    secrets:
      token: ${{ secrets.GITLAB_API_TOKEN }}
